<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        color="medium"
        defaultHref="home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentProductType?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" icon="assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-items-grid [products]="products"></app-items-grid>
</ion-content>
