.filters {
  ion-button {
    display: block;
    margin: 0 auto 16px;
    --background: none;
    --background-activated: none;
    --color: #000;
    font-weight: 600;
    text-transform: uppercase;
  }

  ion-icon {
    margin-left: 16px;
  }
}

.counter {
  margin-bottom: 10px;

  ion-text {
    font-size: 14px;
    text-align: right;
  }
}

ion-grid {
  padding: 0 19px;
}

ion-card {
  --background: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;

  img {
    height: 255px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

ion-card-content {
  padding: 14px 0;
}

ion-text {
  display: block;
  font-size: 12px;
  text-align: left;
}

.title {
  font-size: 16px;
  font-weight: 700;
}
