<ion-grid>
  <ion-row class="filters">
    <ion-col>
      <ion-button (click)="openFiltersModal()">
        {{ "product.sortingAndFilterting" | translate }}
        <ion-icon icon="assets/icon/filter.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="counter">
    <ion-col>
      <ion-text color="secondary"
        >{{ products.length }} {{ products.length === 1 ? "rzecz" : "rzeczy" }}
      </ion-text></ion-col
    >
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let product of products" size="6">
      <ion-card (click)="openModal(product)">
        <img [alt]="product" [src]="product.imgUrl" />
        <ion-card-content>
          <ion-text color="secondary" class="card-title">{{
            product.name
          }}</ion-text>
          <ion-text color="secondary" class="card-subtitle">{{
            product.price
          }}</ion-text>
        </ion-card-content>
      </ion-card></ion-col
    >
  </ion-row>
</ion-grid>
