<ion-header>
  <ion-toolbar>
    <ion-title>{{ "product.checkAvailability" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid *ngIf="shops.length; else NoShops">
    <ion-row *ngFor="let shop of shops | slice : 0 : 3" class="shop-container">
      <ion-col class="shop-info-container">
        <ion-row>
          <ion-text class="info-title">{{ shop.name }}</ion-text>
          <ion-text>ul. {{ shop.street }} {{ shop.buildingNumber }}</ion-text>
          <ion-text>{{ shop.postCode }} {{ shop.city }}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text class="info-title"
            >{{ "shop.workHours" | translate }}:</ion-text
          >
          <ion-text>{{ "shop.fromMondayToSaturday" | translate }} {{ shop.workHoursWeek }}</ion-text>
          <ion-text>{{ "shop.sunday" | translate }} {{ shop.workHoursSunday }}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text class="info-title">{{ "common.distance" | translate }}</ion-text>
          <ion-text>{{ shop.distanceFromUser }} km</ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sizes-container">
        <ion-row>
          <ion-text class="info-title">{{ "product.sizesAvailable" | translate }}: </ion-text>
        </ion-row>
        <ion-row class="sizes-wrapper">
          <ion-col
            class="size-box"
            *ngFor="let size of shop.products[0].availableSizes"
          >
            {{ size }}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #NoShops>
    <app-empty-grid
      [iconFileName]="emptyGridIconName"
      [message]="emptyGridMessage"
      infoPosition="top"
    ></app-empty-grid>
  </ng-template>
</ion-content>
