:root {
  --ion-background-color: var(--ion-color-light);
  --detail-icon-opacity: 1;
}

@media screen and (min-width: 460px) {
  ion-app {
    max-width: 400px;
    margin: 40px auto;
  }

  body {
    background: #232526;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    background: linear-gradient(to bottom, #414345, #232526);
  }
}
