ion-toolbar {
  --min-height: 60px;
  max-height: 60px;
  padding-left: 19px;
  padding-right: 19px;
  --border-width: 0px !important;
  --background: var(--ion-color-light);

  ion-buttons {
    ion-back-button::part(icon),
    ion-button ion-icon {
      max-height: 24px;
    }
  }

  ion-searchbar {
    input {
      font-size: 14px !important;
      padding-inline-start: 40px !important;
    }

    .searchbar-cancel-button {
      font-size: 14px !important;
    }
  }
}

ion-tab-bar {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-medium);
}

ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;

  &::part(detail-icon) {
    opacity: 1;
    color: var(--ion-color-medium);
  }
}
