ion-tab-button {
  ion-icon {
    font-size: 24px;
    stroke: var(--ion-color-tertiary);
  }

  &.tab-selected {
    ion-icon {
      stroke: var(--ion-color-primary);
      stroke-width: 2px
    }
  }
}
