@import "../theme/common/functions.scss";

ion-tab-button {
  ion-icon {
    font-size: rem(24);
    stroke: var(--ion-color-tertiary);
  }

  &.tab-selected {
    ion-icon {
      stroke: var(--ion-color-primary);
      stroke-width: 2px;
    }
  }
}
