swiper {
  overflow: visible;
}

ion-card {
  --background: none;
  box-shadow: none;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;

  img {
    height: 215px;
    object-fit: cover;
  }

  img.circle {
    height: unset;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-position: 50% 50%;
    width: 71px;
  }
}

ion-card-content {
  padding: 14px 0;
}

ion-text {
  display: block;
  font-size: 12px;
  text-align: left;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.circle {
  text-align: center;
}

.card-subtitle {
  &.circle {
    font-weight: 600;
  }
}
