<ion-text class="title" color="primary">Specjalnie dla Ciebie</ion-text>
<div class="swiper-container">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let product of products">
      <ion-card>
        <img
          [ngClass]="{ circle: type === 'circle' }"
          [alt]="product.name"
          [src]="product.imgUrl"
        />
        <ion-card-content>
          <ion-text
            color="secondary"
            [ngClass]="{ 'ion-text-center': type === 'circle' }"
            >{{ product.name }}</ion-text
          >
          <ion-text
            color="secondary"
            [ngClass]="{ 'ion-text-center': type === 'circle' }"
            >{{ product.price }} {{ product.currency }}</ion-text
          >
        </ion-card-content>
      </ion-card></ng-template
    >
  </swiper>
</div>
