<ion-text
  *ngIf="listModel.title; else TitleInput"
  class="title"
  color="primary"
  >{{ listModel.title }}</ion-text
>
<ng-template #TitleInput>
  <ion-text class="title" color="primary">{{ titleInput }}</ion-text>
</ng-template>
<div class="swiper-container">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let item of listItems">
      <ion-card
        (click)="openModal(item)"
        [routerLink]="routeInListModelExists() ? setRouterPath(item) : []"
      >
        <img
          [ngClass]="{ circle: type === 'circle' }"
          [alt]="item[listModel.imgAlt]"
          [src]="item[listModel.imgUrl]"
        />
        <ion-card-content>
          <ion-text
            color="secondary"
            class="card-title"
            [ngClass]="{ circle: type === 'circle' }"
            >{{ item[listModel.firstLine] }}</ion-text
          >
          <ion-text
            color="secondary"
            class="card-subtitle"
            [ngClass]="{ circle: type === 'circle' }"
            >{{ item[listModel.secondLine] }}</ion-text
          >
        </ion-card-content>
      </ion-card></ng-template
    >
  </swiper>
</div>
