<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        color="medium"
        defaultHref="home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          color="dark"
          icon="assets/icon/search.svg"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="section-container" *ngIf="ad">
    <app-ad-banner [ad]="ad"></app-ad-banner>
  </section>
  <section class="section-container">
    <app-horizontal-list
      [listItems]="mostPopularProducts"
      [listModel]="mostPopularProductsHorizontalModel"
      [modalComponent]="productDetailComponent"
    ></app-horizontal-list>
  </section>
  <section class="section-container vertical-list" *ngIf="productsTypes.length">
    <ion-list>
      <ion-item
        *ngFor="let type of productsTypes"
        [routerLink]="['/home', 'categories', categoryId, 'product-types', type.id]"
        detail="true"
        detailIcon="assets/icon/arrow-right.svg"
        lines="none"
      >
        <ion-label class="vertical-list-item">{{ type.name }}</ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
