<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" icon="assets/icon/close.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filtrowanie i sortowanie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="filters-grid">
    <form [formGroup]="filtersForm">
      <ion-row class="filter-container">
        <ion-col>
          <ion-text class="filter-title">Sortuj według:</ion-text>
          <ion-list>
            <ion-radio-group
              formControlName="sortOption"
              [allowEmptySelection]="true"
            >
              <ion-item class="filter-item">
                <ion-radio slot="end" value="priceAsc"></ion-radio>
                <ion-label>Cena rosnąco</ion-label>
              </ion-item>
              <ion-item class="filter-item">
                <ion-radio slot="end" value="priceDesc"></ion-radio>
                <ion-label>Cena malejąco</ion-label>
              </ion-item>
              <ion-item class="filter-item">
                <ion-radio slot="end" value="nameAsc"></ion-radio>
                <ion-label>Nazwa rosnąco</ion-label>
              </ion-item>
              <ion-item class="filter-item">
                <ion-radio slot="end" value="nameDesc"></ion-radio>
                <ion-label>Nazwa malejąco</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list></ion-col
        >
      </ion-row>
      <ion-row class="filter-container filter-inputs-container">
        <ion-col>
          <ion-text class="filter-title">Filtry:</ion-text>
          <ion-list>
            <ion-item class="filter-item">
              <ion-text class="filter-subtitle">Cena</ion-text>
              <div class="filter-range-values">
                <ion-text>{{ filtersValues.priceRange.lower }} PLN</ion-text>
                <ion-text>{{ filtersValues.priceRange.upper }} PLN</ion-text>
              </div>
              <ion-range
                class="filter-range"
                formControlName="priceRange"
                [dualKnobs]="true"
                [snaps]="true"
                [step]="10"
                [ticks]="false"
                [min]="20"
                [max]="400"
                [value]="{ lower: 20, upper: 400 }"
              ></ion-range>
            </ion-item> </ion-list></ion-col
      ></ion-row>
    </form>
  </ion-grid>
</ion-content>
<!-- <ion-footer class="footer-only-buttons">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="onSave()" class="btn-save">
        Zapisz
        <ion-icon
          slot="center"
          icon="assets/icon/expand-down-arrow.svg"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<ion-footer class="footer-only-buttons">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="onSave()" class="btn btn-save"> Zapisz</ion-button>
      <ion-button (click)="onReset()" class="btn btn-reset"> Resetuj </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
