<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Szukaj produktów"
      searchIcon="assets/icon/search.svg"
      show-cancel-button="focus"
      cancel-button-text="Wyczyść"
      clearIcon="false"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="section-container">
    <app-horizontal-list
      [listModel]="productsHorizontalModel"
      [listItems]="products"
    ></app-horizontal-list>
  </section>
  <section class="section-container">
    <app-horizontal-list
      [listModel]="categoriesForYouHorizontalModel"
      [listItems]="categoriesForYou"
      [type]="'circle'"
    ></app-horizontal-list>
  </section>
  <section class="section-container">
    <ion-list lines="none" class="vertical-list">
      <ion-item *ngFor="let category of categories">
        <ion-label class="ion-text-center">{{ category.name }}</ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
