@import '../../theme/common/functions.scss';

ion-searchbar {
  --background: var(--ion-color-light);
  --cancel-button-color: #535353;
  --color: #535353;
  --placeholder-color: #535353;
  padding: 0;
}

.vertical-list {
  ion-item {
    margin-bottom: 30px;
  }

  ion-label {
    font-size: rem(24);
    font-weight: 600;
  }
}
