ion-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  --background: none;

  ion-back-button,
  ion-button {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      background-color: rgba($color: #fff, $alpha: 0.9);
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}

ion-grid,
.img-wrapper {
  padding: 0;
}

.img-wrapper img {
  min-height: 580px;
  height: 580px;
  min-width: 100%;
  object-fit: cover;
}

.section-container {
  margin-top: 20px;
}

ion-col {
  padding: 0;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 11px;
}

.product-price {
  font-size: 16px;
}

.product-description {
  font-size: 12px;
}

.check-availability-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.check-availability-btn {
  font-size: 14px;
  font-weight: 600;
  color: var(--ion-color-primary);
  --background: none;
}
