<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon slot="icon-only" icon="assets/icon/close.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()" class="btn-bag">
        <ion-badge *ngIf="productsInCartAmount" slot="start">
          {{ productsInCartAmount }}
        </ion-badge>
        <ion-icon slot="icon-only" icon="assets/icon/bag.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="img-wrapper">
        <img [src]="product?.imgUrl" alt="" />
      </ion-col>
    </ion-row>
    <div class="section-container">
      <ion-row>
        <ion-col class="product-name">{{ product?.name }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product-price">{{ product?.price | currency }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="check-availability-wrapper">
          <ion-button
            (click)="openProductAvailabilityModal()"
            class="check-availability-btn"
          >
            <ion-icon slot="start" icon="assets/icon/shop.svg"></ion-icon>
            {{ "product.checkAvailability" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="product-description">{{
          product?.description
        }}</ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar mode="ios">
    <ion-buttons>
      <ion-button class="btn btn-choose" (click)="presentActionSheet()">
        <p *ngIf="!size; else sizeWrapper">
          {{ "product.chooseSize" | translate }}
        </p>
        <ng-template #sizeWrapper>{{ "product.size" | translate }} {{ size }}</ng-template>
        <ion-icon slot="end" icon="assets/icon/expand-down-arrow.svg"></ion-icon
      ></ion-button>
      <ion-button
        [disabled]="!size"
        (click)="addProductToCart()"
        class="btn btn-add"
      >
        <ion-icon slot="start" icon="assets/icon/bag-white.svg"></ion-icon
        >{{ "common.add" | translate }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
